#projects-modal-window {
  visibility: hidden;
  position: fixed;
  z-index: 2030;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  text-align: center;
  padding-top: 15px;
}

#projects-modal-window h2 {
  /*copy from template*/
  display: inline-block;
  font-size: 50px;
  font-weight: 100;
  padding: 10px 0;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  line-height: 1.2;
}

#projects-modal-window img {
  max-width: 100%;
  display: block;
  margin: auto auto 10px;
}

#projects-modal-window .close-modal {
  display: inline-block;
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 1170px) {
  #projects-modal-window .close-modal {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }
}
