#projects-modal-window {
  visibility: hidden;
  position: fixed;
  z-index: 2030;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(36, 35, 37, 0.9);

  opacity: 1;
  -webkit-transition: opacity 0.1s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.1s 0s, visibility 0s 0s;
  transition: opacity 0.1s 0s, visibility 0s 0s;
}
