@import "../../_variables";

$size-scrolldown-btn: 64px;

.pp-home-appendix-component {
  height: 170px; //same as loading placeholder gif
  padding-top: 2%;

  a {
    color: #ffffff;
    &:hover {
      color: $color-green;
    }
  }

  .pp-scrollbtn-container {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-25px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-25px);
    }
  }
}