@import "../../_variables";

$size-scrolldown-btn: 64px;

.pp-home-appendix-component {
  height: 170px; //same as loading placeholder gif
  padding-top: 30px;

  .pp-scrollbtn-container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }

  a {
    color: #ffffff;
    &:hover {
      color: $color-green;
    }
  }
}