.pp-social-links-component {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-shadow: 0 2px 6px #000000;

  li {
    display: inline-block;
    margin: 5px 15px;
    padding: 0;
  }
}