<div class="section education-parallax" id="education">
  <div class="dark-mask"></div>

  <div class="container">
    <div class="col-md-12 education">
      <h2 class="title" waypoint-animation data-animation="fadeInDown">Education</h2>

      <div class="row">
        <div class="col-md-3 item"
             waypoint-animation data-animation="fadeInUp"
             ng-repeat="eduItem in items">
          <h2>{{eduItem.title}}</h2>
          <h4>{{eduItem.description}}</h4>

          <h3>
            <span class="counter">{{eduItem.period.from}}</span>
            <span ng-if="eduItem.period.to">&mdash;</span>
            <span class="counter" ng-if="eduItem.period.to">{{eduItem.period.to}}</span>
          </h3>

        </div>
        <!--ng-repeat -->
      </div>
      <!--row-->

    </div>
    <!--.col-md-12-->
  </div>
  <!--.container-->
</div>
