.language-parallax {
  background: url('/img/parallax-languages.jpg') center center no-repeat fixed;
}

.languages {
  position: relative;
  z-index: 2;
}

.languages h2 {
  color: #FFFFFF;
}

.languages .item img {
  width: 114px;
  height: 114px;
}

.languages .item h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 20px;
}

.languages .item h5 {
  color: #EEEEEE;
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 15px;
}
