@import "../../_variables";

.pp-languages-component {
  background: $color-gray-dark url('background.jpg') center center no-repeat fixed;

  h3, h4, p {
    color: white;
    text-shadow: 0 2px 6px #000000;
  }
}