/*

=====================
FOOTER
=====================

*/
#footer {
  background: #222222;
  font-size: 14px;
  line-height: 50px;
}

#footer p.social {
  text-align: left;
}

#footer p.social a {
  margin-left: 10px;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#footer p.social a.facebook {
  background-color: #4460ae;
}

#footer p.social a.gplus {
  background-color: #c21f25;
}

#footer p.social a.linkedin {
  background-color: #0976b4;
}

#footer p.social a.email {
  background-color: #4a7f45;
}

@media (max-width: 767px) {
  #footer p.social {
    text-align: center;
    margin-bottom: 20px;
  }
}

#footer p {
  margin: 0;
  text-align: right;
  color: #eeeeee;
  font-family: 'Roboto Slab', serif;
}

@media (max-width: 767px) {
  #footer p {
    text-align: center;
  }
}

#footer p.template-bootstrapious {
  margin-top: 20px;
  text-align: center;
  color: #999999;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer p.template-bootstrapious a {
  color: #999999;
}

@media (max-width: 767px) {
  #footer p.template-bootstrapious {
    text-align: center;
  }
}
