/*COPY z bootstrap theme sekcia SERVICES
*/

.company-logo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #FFFFFF;
}

.company-logo img {
  display: block;
  position: relative;
  width: 134px;
  height: 48px;
  top: 51px;
  left: 8px;
  transition: all 0.2s ease;
}

.company-logo img:hover {
  width: 144px;
  height: 52px;
  top: 49px;
  left: 3px;
}

.experiences .heading {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.experiences .period {
  margin-bottom: 20px;
  margin-top: 5px;
}

.experiences p {
  font-size: 15px;
  text-align: justify;
}

.experiences a {
  color: white;
  text-decoration: underline;
}

.experiences a:hover {
  color: white;
  font-weight: 700;
}
