/*COPY z bootstrap theme sekcia SERVICES
*/

.experiences img {
  width: 154px;
  height: 54px;
  background: #FFFFFF;
}

.experiences .heading {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.experiences .period {
  margin-bottom: 20px;
  margin-top: 5px;
}

.experiences p {
  font-size: 15px;
  text-align: justify;
}
