<div class="cd-timeline-block" ng-class="project.token">
  <div class="cd-timeline-img cd-gray" waypoint-animation data-animation="bounceIn">
    <!--<img src="img/cd-icon-picture.svg" alt="Picture">-->
    <img src="img/codyhouse-timeline/cd-icon-location.svg">
  </div>
  <!-- cd-timeline-img -->

  <div class="cd-timeline-content" waypoint-animation data-animation="fadeIn">
    <h2>{{project.title}}</h2>

    <p>{{project.short}}</p>

    <div class="cd-timeline-btns">
      <a ng-if="project.images" class="cd-timeline-gallery cd-blue" title="screenshots"
         waypoint-animation data-hover-animation="pulse">
        <img src="img/codyhouse-timeline/cd-icon-gallery.svg"
             ng-click="onGalleryClick(project)">
      </a>

      <a ng-if="project.link" ng-href="{{project.link}}" target="_blank"
         class="cd-timeline-link cd-blue" title="link"
         waypoint-animation data-hover-animation="pulse">
        <img src="img/codyhouse-timeline/cd-icon-link.svg"
             ng-click="">
      </a>

      <a ng-if="project.innerLink" ng-href="{{project.innerLink}}"
         scroll-to="{{project.innerLink}}" data-scroll-to-delay="300"
         class="cd-timeline-link cd-blue" title="link"
         waypoint-animation data-hover-animation="pulse">
        <img src="img/codyhouse-timeline/cd-icon-link.svg"
             ng-click="">
      </a>

    </div>
    <!--.cd-timeline-btns-->

    <span class="cd-date">{{project.time}}</span>
  </div>
  <!-- cd-timeline-content -->
</div>
