<div class="section skills" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title" waypoint-animation data-animation="fadeInDown">Skills</h2>
      </div>
    </div>
    <!--.row title-->

    <div class="row" waypoint-animation data-animation="fadeIn">
      <div class="icon col-xs-offset-1 col-xs-1 col-md-offset-2 col-md-1"><i class="fa fa-search"></i></div>

      <div class="col-xs-9 col-md-7">
        <md-input-container md-no-float>
          <input ng-model="filterText" type="text" placeholder="What you are looking for ...">
        </md-input-container>
      </div>
    </div>
    <!--.row filter-->

    <div class="row skill-list" waypoint-animation data-animation="fadeInUp">
      <div class="col-md-offset-2 col-md-8">
        <span class="label label-primary animated-skill"
              ng-repeat="s in skills | filter:filterText | orderBy">
        {{s}}
        </span>
      </div>
    </div>
    <!--.row skilllist-->

  </div>
  <!--filter container-->
</div>

