@import '../../_variables';

$size-photo: 200px;

.pp-about-component {
  background: $color-gray-dark;
  color: $color-gray-light;

  h3 {
    color: #ffffff;
  }

  img {
    width: 100%;
    max-width: $size-photo;
    max-height: $size-photo;
    border-radius: 50%;
  }

  .pp-description {
    font-style: italic;
    text-align: justify;
    margin: 0 0 20px 0;
  }

  .pp-download-cv-btn {
    margin: 50px auto;

    @media only screen and (max-width: $width-device-mobile) {
      display: block;
      margin: 20px auto;
    }
  }

}