@import '../../_variables';

$scroll-btn-margin: 28px; // half from materialize large btn

$color-footer-gray-light: #898989;
$color-footer-gray-dark: #676767;

.pp-footer-component {
  position: relative;
  background: #0f0f0f;
  padding: $scroll-btn-margin 0;
  color: $color-footer-gray-dark;

  h3 {
    color: $color-footer-gray-light;
  }

  .pp-description {
    font-family: 'librebaskerville-italic', serif;
    text-align: center;
  }

  a {
    color: $color-footer-gray-light;
    font-weight: bold;
    &:hover {
      color: $color-green;
    }
  }

  .pp-social-links-container {
    //padding: 14px 0;
  }

  .pp-copyright {
    margin: 0;
    padding: 40px 0 0;
    font-size: small;

    li {
      display: inline;
      margin: 0;
      padding: 0;
      line-height: 24px;

      &:before {
        content: "\2022";
        padding-left: 10px;
        padding-right: 10px;
        color: $color-green;
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  .pp-scrollbtn-container {
    position: absolute;
    top: -$scroll-btn-margin;
    left: 50%;
    margin-left: -$scroll-btn-margin;
  }
}