$color-green: #26a69a; // materailizecss teal lighten-1

$color-gray-dark: #2B2B2B;
//$color-gray-light: #7A7A7A;
$color-gray-light: #A8A8A8;

$width-device-tablet: 992px; // from materializecss
$width-device-mobile: 601px; // from materializecss